[Unit]
Description=sarotate
After=network-online.target

[Service]
User=<changethis>
Group=<changethis>
Type=simple
WorkingDirectory=/opt/sarotate
ExecStart=/bin/bash /opt/sarotate/sarotate -c config.yml
Restart=always
RestartSec=10

[Install]
WantedBy=default.target
