[Unit]
Description=SARotate     
After=network-online.target

[Service]
User=changethis
Group=changethis
Type=simple
WorkingDirectory=/opt/SARotate
ExecStart=/bin/bash /opt/SARotate/sarotate.sh
Restart=always
RestartSec=10

[Install]
WantedBy=default.target
