[Unit]
Description=sarotate     
After=network-online.target

[Service]
User=changethis
Group=changethis
Type=simple
WorkingDirectory=/opt/sarotate
ExecStartPre=/bin/sleep 30
ExecStart=/bin/bash /opt/sarotate/sarotate sarotate.set
Restart=always
RestartSec=10

[Install]
WantedBy=default.target
